[user]
  name = Ben Ilegbodu
  email = ben@benmvp.com
[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto
[alias]
  a = add
  br = branch -vv
  ci = commit
  cl = clone
  co = checkout
  df = diff
	dt = difftool --no-prompt
  lg = log -p
  h = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  st = status
  pl = pull
  pr = pull --rebase
  pu = push
  r = remote
  ru = remote update
  sb = show-branch
[core]
  editor="code --wait"
	excludesfile = /Users/benmvp/.gitignore_global
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[branch]
  autosetuprebase = always
[push]
  # auto attach upstream with same name as local branch
	default = current
[pull]
  rebase = true
[init]
	defaultBranch = main
